body {
  background-color: #35425e;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Marcellus SC', serif;
}

/* Containers */
.container-fluid {
  padding: 5%;
  margin-top:5%;
  width: 90%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Header Styles */
.header-img {
  width: 100%;
  opacity: 0.5;
}
.head-container {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
  color: white;
  color: rgba(255, 255, 255, 0.0);
text-shadow: 0 0 15px #000;
  font-size: 1.5rem;
}

/* Footer */
.footer {
  margin: 5% 0;
  color: white;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

/* Navbar Scroll Background */
nav {
  position: -webkit-sticky;
  position: sticky;
  /* sticky or fixed are fine */
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  background: linear-gradient(to bottom, #000, #0003 70%,#0000); /* background when scroll is in the top */
  transition: background .5s; /* control how smooth the background changes */
}

nav.scrolled {
  background: #0a0a0a;
}


/* Mobile Styling */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .header-title {
    font-size: 10px;
  }
}
